/*Yael Palomo Cardenas*/
*{
	margin: 0px;
	padding: 0px;
}

body 
{
	/*background: linear-gradient(to bottom, black , white, #4A61D6, #E3E006, darkgreen, darkorange, darkred);*/
	/*background: linear-gradient(to bottom, black, #570303 110%);
	width:100%;*/
	display: flex;
    height: 1000px;
    font-family: Arial;
    color: white;
}

#contenedor 
{
	width: 100%;
	min-width: 300px;
	height: 100%;
	border-style: 1px solid green;
	margin: 0px auto;
    background-color: #26418F;
}

#formulario {
	width: 100%;
	height: 1500px;
	background-color: #212121;
}

#datos_form {
	margin: auto;
	width: 70%;
	height: 300px;
}

#cabecera 
{
	position: fixed;
	padding: 5px;
    top: 0px;
    width: 100%;
    height: 10%;
    background-color: #49BFD9; 
    background: linear-gradient(to left, #49BFD9 60%,  white 90%);
    /*--opacidad-negro: 0.5;*/
    

}

#avisos 
{
	position: sticky;
	width: 50%;
	height: 500px;
	background-color: #003366;
	margin: auto;
	margin-top: 150px;
	

}

#lblavisos {
	width: 100%;
	height: 60px;
	background-color: #49BFD9;
}

#select-equipo-div {
	width: 400px;
	height: 100px;
	float: left;
}

#select-vgame-div {
	width: 400px;
	height: 100px;
	float: left;
}

#matricula-div {
	width: 400px;
	height: 100px;
	float: left;
}

#espacios {
	width: 80%;
	height: 800px;
	background-color: #003366;
	margin: auto;
	overflow: auto;
	padding: 10px;
}

#margen {
	width: 1300px;
	height: 700px;
}

.logo 
{
	width: auto;
	height: 40px;
	margin-top: 1.5%;
	margin-left: 1.5%;
}

.frase 
{
	float: right;
	width: auto;
	height: 107px;
	margin-top: -.34%;
	content: url("imagenes/cabecera.png");
}

.combobox {
	background-color: #26418F;
	width: 140px;
	height: 40px;
	color: white;
	font-family: arial;
	border: none;
	padding: 10px;
	float: left;
}

.lblSelect {
	margin: 10px 10px 10px;
	float: left;
}

.lblmatricula {
	margin: 10px 10px;
	margin-left: 50px;
	float: left;
}

.lblvgame {
	margin: 10px 10px;
	float: left;
}

.txtmatricula {
	background-color: #26418F;
	width: 140px;
	height: 21px;
	color: white;
	font-family: arial;
	border: none;
	padding: 10px;
	float: left;
}

.silla_boton_izq {
	width: 70px;
	height: 70px;
	
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	color: white;
	font-family: Arial;
	font-weight: bolder;
	margin-left: 10px;
	background-color: #81D498;
	border: none;

}

.silla_boton_der {
	width: 70px;
	height: 70px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	color: white;
	font-family: Arial;
	font-weight: bolder;
	margin-right: 310px;
	margin-top: -684px;
	background-color: #AF4949;

}

.silla {
	width: 70px;
	height: 70px;
}


h2 {
	font-family: fantasy;
	color: white;
}

@media screen and (max-width:1100px) 
{
	.frase {
		margin-top: -.6%;
		margin-right: -22%;
		width: auto;
		height: 91px;
		/*display: none;*/
	}

	#cabecera {
		background: linear-gradient(to left, #49BFD9 60%,  white 70%);
	}
	#select-equipo-div {
		margin: auto;
		float: none;
	}
	#select-vgame-div {
		margin: auto;
		float: none;
	}
	#matricula-div {
		margin: auto;
		float: none;
	}
}

@media screen and (max-width:800px) 
{

	#datos_form {
		width: 90%;
		justify-content: center;
	}

	.lblvgame {
		float: none;
	}

	.lblSelect{
		float: none;
	}

	.combobox {
		float: none;
	}

	.txtmatricula {
		float: none;
	}

	#select-equipo-div {
		width: 80%;
	}

	#select-vgame-div {
		width: 80%;
	}

	#matricula-div {
		width: 80%;
	}

	.frase {
		margin: auto;
		width: 101%;
		height: auto;
		margin-top: 16px;
	}
	.logo {
		margin: auto;
		margin-top: 2.5%;
		display: flex;
		height: 30px;
	}
	#cabecera {
		height: 60px;
		background: linear-gradient(to left, white 60%,  white 90%);
	}

	#avisos {
		margin-top: 200px;
		width: 90%;
	}

	.lblInstruccion {
		font-size: 15px;
	}
}